/* ===================================
   LATEST RELEASES
=================================== */

.latest-releases{

    padding:90px 8%;

    background:#111;
}

.section-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-end;

    margin-bottom:50px;

    gap:20px;

    flex-wrap:wrap;
}

.section-header h2{

    font-size:2.6rem;

    color:#D4AF37;

    margin-bottom:10px;
}

.section-header p{

    color:#bbb;

    font-size:1.05rem;
}

.view-all-btn{

    text-decoration:none;

    color:#D4AF37;

    border:2px solid #D4AF37;

    padding:14px 26px;

    border-radius:10px;

    font-weight:bold;

    transition:.3s;
}

.view-all-btn:hover{

    background:#D4AF37;

    color:#111;
}

.release-grid{

    display:grid;

    grid-template-columns:
        repeat(auto-fit,minmax(300px,1fr));

    gap:35px;
}

@media(max-width:768px){

    .section-header{

        text-align:center;

        justify-content:center;
    }

}